.elements {
  margin-top: 50px;
  margin-bottom: 67px;
}

.elements__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 920px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}
