.element {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.element__image {
  display: block;
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.element__info {
  padding: 25px 20px 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.element__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  width: 22px;
  height: 19px;
  border: 0;
  background-color: transparent;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button_active {
  background-image: url("../images/like-active.svg");
}

.element__delete-button {
  width: 18px;
  height: 19px;
  background-image: url("../images/trash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 1;
}

.element__delete-button:hover {
  opacity: 0.6;
}
