.footer {
  max-width: 880px;
  margin: 67px auto 60px;
  padding-bottom: 60px;
}

.footer__copyright {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #545454;
  margin: 15px;
}
