.header {
  max-width: 880px;
  margin: 45px auto 0;
}

.header__vector {
  display: block;
  width: 173px;
  height: 33px;
}

.header__line {
  margin-top: 41px;
  height: 1px;
  background-color: #545454;
  opacity: 0.7;
}

@media screen and (max-width: 880px) {
  .header {
    margin: 28px 19px 0;
  }

  .header__vector {
    width: 126px;
    height: 24px;
  }

  .header__line {
    margin-top: 32px;
  }
}
