html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
}
