.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  width: 430px;
  box-sizing: border-box;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__title {
  margin: 0 0 48px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

.popup__button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }

  .popup__close-button {
    top: -36px;
    right: 0;
    width: 26px;
    height: 26px;
    background-size: cover;
  }

  .popup__title {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .popup__input:last-of-type {
    margin-bottom: 45px;
  }

  .popup__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
