.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  flex: 1;
  margin-left: 30px;
  min-width: 0;
}

.profile__text-container {
  display: flex;
  align-items: baseline;
  gap: 18px;
  min-width: 0;
}

.profile__title {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  background-image: url("../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: transparent;
  background-image: url("../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile__info {
    margin: 26px 0 0;
  }

  .profile__text-container {
    justify-content: center;
  }

  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }

  .profile__description {
    margin-top: 7px;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add-button {
    width: 282px;
    margin-top: 36px;
  }
}
