@import url(../vendor/Fonts/normalize.css);
@import url(../vendor/Fonts/fonts.css);

@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/profile.css");
@import url("../blocks/elements.css");
@import url("../blocks/element.css");
@import url("../blocks/popup.css");
@import url("../blocks/popup-image.css");
@import url("../blocks/footer.css");
